
<!-- Skills Start -->
  <section id="service">
  <div class="container">
    <div class="row">
      <div class="section-title">
        <h2>Skills</h2>
      </div>
    </div>
    <div class="row ">
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="icon  ion-android-contacts"></i>
          <h4>Management</h4>
          <p>Managing and leading a team of 6 associates, ensuring accuracy with all orders, pricing, and billing, reporting directly to the VP of Sales.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-compass"></i>
          <h4>Leadership</h4>
          <p>Effectively lead sales and customer interactions for all international accounts.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-calculator"></i>
          <h4>Sales & Cross-Selling</h4>
          <p>Forecasts equipment sales, monitoring trends to ensure adequate inventory to meet sales demand.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-ios-contact"></i>
          <h4>Customer Service</h4>
          <p>Resolve escalated customer complaints skillfully and diplomatically with mutually satisfactory results for both the customer and the company.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-arrow-up-a"></i>
          <h4>Process Improvement</h4>
          <p>Completely revitalized the inside sales program for web and incoming telephone leads over a 6 year period, resulting in increased long-term customers and greater company revenues.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-clipboard"></i>
          <h4>Results Oriented</h4>
          <p>Delivers a strong performance on a consistent basis, with annual reviews that exceed top performance expectations.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-arrow-graph-up-right"></i>
          <h4>Self Starter</h4>
          <p>Successfully generate new business through initial contacts from web-leads and telephone inquiries; utilizes advanced sales skills and direct heavy qualification to identify client needs resulting in increased close ratios.</p>
        </div>
      </div>
      <div class="col-sm-6 col-md-3">
        <div class="service-item">
          <i class="ion-quote"></i>
          <h4>Comunication</h4>
          <p>Highly developed interpersonal, written and verbal communication skills to assimilate and present information to clients, direct reports, and all levels of company leadership.</p>
        </div>
      </div>
    </div>
  </div>
</section>
